@charset "utf-8";

img{
    width:400px;
    height:auto;
}

.red{
    color:red;
    font-size: 150%;
}

h1{
    border:solid 3px;
    background-color: burlywood;
    padding:3%;
}

h2{
    border: solid 2px;
    border-radius: 10px;
}

.cancel{
    text-decoration:line-through 2px solid;
}

p{
    background-color: papayawhip;
}